@import url(../styles/reset.css);
@import url(../styles/vars.css);

body {
    height: 100vh;
    font-family: var(--open-sans);
    font-size: calc(var(--fSize) - 8px);
    background-color: black;
    color: white;
}

button {
    font-size: var(--fSize);
    margin-block: 8px;
    border-radius: 20px;
}

h1 {
    text-align: center;
    height: max-content;
    position: relative;
    place-self: center;
}

.grid {
    display: grid;
}

#container {
    width: 60%;
    height: 70%;
    margin-inline: auto;
    text-align: center;
    background-color: var(--grey);
}

#registration {
    display: none;
}

form {
    padding-top: 50px;
    width: max-content;
    margin-inline: auto;
}

form input {
    height: var(--fSize);
}

button {
    background-color: black;
    color: white;
    border: 1px solid white;
}